= render "layouts/header"
#wrapper
  #top
    #content
      .content-inner
        .pet_input_header
          %h1
            %span
              ペットの登録
        .pet_input_form
          = form_for @dog, :url => {:action => :create} do |f|
            %dl.line
              ペットの名前
              %span
                必須
            %dd
              = f.text_field :name, class: "textbox"
        .submit_form
          = f.submit "登録する", class: "pet_registration__button", name: "commit"
