= render "layouts/header"
#wrapper
  #top
    #content
      .content_top
        .dog_img
          %img{src: "https://s3-ap-northeast-1.amazonaws.com/image-upload-wango/uploads/wango_logo/image/wango_top_image.jpg", width: "800px", height: "500px"}
      .content-inner.row
        .left-content.col-md-8
          #h2.headline-title.header-separator
            新着レシピ
          .recipes-list.row
            -@recipes.each do |recipe|
              .image-list-content.col-sm-4.col-xs-12
                =link_to "/recipes/#{recipe.id}", method: :get do
                  .image-list-model
                    =image_tag recipe.image, class: "img-responsive img-rounded"
                  .image-list-info
                    .image-list-title
                      %p.model-trigger
                        =recipe.title
                    .image-list-introduction
                      %p=recipe.description
                    .image-list-ingredient
          .text-center
            .recipe_paginate
              =paginate(@recipes)
        .right-content.col-md-4
          -if user_signed_in?
            .user_information
              =link_to "/users/#{current_user.id}/edit", method: :get do
                ユーザー情報登録/編集
          .right-sidebar-header-separator
            %h2.headline-title
              特集
          .right-sidebar-image-feature
            .image-feature-content
              %a.image-feature-list-img
                %img.image-feature-img
              .image-feature-info
                .image-feature-title
                  %a
                    / 夏野菜との相性抜群！
                .image-feature-description
                  / 夏野菜の一つのズッキーニ、大好きな人も多いのではないでしょうか。
