= render "layouts/header"
#wrapper
  #top
    #content
      .content-inner.row
        .left-content.col-md-8
          .category_search
            #h2.headline-title.header-separator
              レシピを探す
            %ul.category_search_list
              #search_box{"data-device" => "pc"}
                %form{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
                  %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                  %input#query{:autocomplete => "off", :name => "query", :placeholder => "レシピを検索", :type => "text"}/
                  %img{:alt => "Search icon", :src => "//assets.kurashiru.com/production/assets/search-icon-f33163e1e369a9c6da9ddcc72aee10a8e16f9c94b2a0b3ac9e415d2a44a3a48d.png"}/
          #h2.headline-title.header-separator
            新着レシピ
          .recipes-list.row
            -@recipes.each do |recipe|
              .image-list-content.col-sm-4.col-xs-12
                =link_to "/recipes/#{recipe.id}", method: :get do
                  .image-list-model
                    =image_tag recipe.image, class: "img-responsive img-rounded"
                  .image-list-info
                    .image-list-title
                      %p.model-trigger
                        =recipe.title
                    .image-list-introduction
                      %p=recipe.description
                    .image-list-ingredient
                      -recipe.raw_materials.each do |material|
                        =material.material
          .text-center
            .recipe_paginate
              =paginate(@recipes)
        .right-content.col-md-4
          .right-sidebar-header-separator
            %h2.headline-title
              特集
          .right-sidebar-image-feature
            .image-feature-content
              %a.image-feature-list-img
                %img.image-feature-img
              .image-feature-info
                .image-feature-title
                  %a
                    / 夏野菜との相性抜群！
                .image-feature-description
                  / 夏野菜の一つのズッキーニ、大好きな人も多いのではないでしょうか。
