body {
  width: 100%;
  background: #F1F1F2;
  color: #262626;
  font-family: Helvetica,HiraKakuProN-W3,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  line-height: 1em;
  text-rendering: optimizelegibility;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

div, h1, a, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}
.container {
  width: 940px;
  margin: 0 auto;
  // span {
  //   margin-left: 20px;
  //   margin-top: 15px;
  //   font-size: 40px;
  //   color: #008000;
  //   line-height: 60px;
  //   vertical-align: middle;
  //   font-weight: bold;
  //   width: 150px;
  //   display: inline-block;
  // }
  a {
    color: #008000;
    line-height: 60px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
  }
}
.navbar {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #cfcfcf;
  background-color: #e0ffc1;
  opacity: 0.9;
  }
.navbar-header {
  opacity: 1.0;
  img {
  display: block;
  }
}
.wango_title {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 40px;
  color: #008000;
  line-height: 60px;
  vertical-align: middle;
  font-weight: bold;
  width: 150px;
  display: inline-block;
  float: left;
}
.wango_statement {
  margin: 10px 10px 0 0;
  float: left;
  list-style: none;
  display: inline-block;
  border-radius: 8px;
  border: none;
  vertical-align: middle;
  line-height: 60px;
  font-size: 18px;
}
  #user_sign_in {
    margin: 0 10px;
    float: right;
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 15px;
  }
  #new_recipes {
    margin: 0 10px;
    float: right;
    list-style: none;
    display: inline-block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .link a {
    float: right;
    display: inline-block;
    padding: 10px 10px;
    color: green;
    border: none;
    cursor: pointer;
  }

