
#content {
  width: 100%;
  background: #FFF;
  .content-inner {
    padding-top: 40px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
    clear: both;
    height: 100%;
  }
}
.content_top {
  width: 1170px;
  margin: 0 auto;
  img {
    margin: 0 auto;
  }
}

.left-content {
  // width: 696px;
  float: left;
  padding-bottom: 112px;
}

.left-content #h2{
  margin: 0 24px 12px 0;
  padding: 0 0 8px;
}
.headline-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.header-separator {
  border-bottom: 1px solid #c6b363;
}


.image-list-content {
  margin-top: 16px;
  display: inline-block;
  a {
    text-decoration: none;
  }
}
.image-list-model {
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  min-height: 200px;
}
.image-list-info {
  color: #000000;
  text-decoration: none;
}
.image-list-title {
  margin: 8px 0;
  height: 40px;
  text-decoration: none;
  color: #000000;
  // color:
}
.image-list-title p{
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;
  text-decoration: none;
}

.image-list-introducion {
  color: #000000;
  font-size: 13px;
  margin: 8px 0;
  line-height: 1.3;
  height: 30px;
  p {
    color: #000000;
  }
}

.image-list-ingredients {
  color: #000000;
  font-size: 11px;
  margin: 8px 0;
  line-height: 1.3;
  margin: 8px 0 0;
  height: 28px;
  text-decoration: none;
}
.recipe_paginate {
  font-size: 20px;
  margin-top: 20px;
  a {
    padding: 5px 10px;
    color: #000000;
  }
  a:hover {
    background-color: #008000;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
}
.right-content {
  position: relative;
  float: right;
  // width: 312px;
  top: 0;
  right: 0;
  background: #FFF;
  margin-bottom: 40px;
  z-index: 3;
}
.user_information {
  height: 120px;
  padding: 10px;
}
.user_image {
  float: left;
  height: 80px;
  width: 80px;
  display: inline-block;
}
.user_name_link {
  float: left;
  h2 {
    margin-top: 10px;
    font-size: 25px;
  }
  a {
    font-size: 15px;
  }
}
.index_user_image {
  border-radius: 35px;
}

.right-sidebar-separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #cfcfcf;
  .google-ads {
    margin: 0 0 24px 24px;
  }
  .adsbygoogle {
    display: inline-block;
    width: 300px;
    height: 250px;
  }
}
.right-sidebar-header-separator {
  padding-bottom: 8px;
  margin: 0 0 24px 0;
  .headline-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #c6b363;
  }
}
// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
