#wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #fff;
}
.recipe_detail {
  width: 100%;
}
.recipe_detail_content {
  background-color: green;
  padding-top: 15px;
  // max-width: 1170px;
  margin: 0 auto;
}
.recipe_detail_image {
  flex-basis: 320px;
  box-sizing: border-box;
}
.recipe_detail_main_info {
  margin-left: 40px;
  box-sizing: border-box;
}
.title {
  padding-bottom: 2px;
}
.title span {
  font-size: 20px;
  font-weight: bold;
}
.description {
  margin-top: 10px;
}
.text-h2 {
  font-size: 15px;
  font-weight: bold;
}
.ingredient {
  border-bottom: 1px solid #C7C7CC;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.ingredient_serving {
  margin-left: auto;
}
.recipe_steps {
  display: block;
  margin-top: 15px;
}
.steps {
  display: flex;
  flex-wrap: wrap;
}
.step {
  width: 32%;
  margin-bottom: 10px;
  max-width: 320px;
}
.step-num {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
.step-image-wrap {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 150px;
}
.img-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.step-desc {
  margin-top: 5px;
}
.text-p {
  font-size: 10px;
}
