#wrapper {
  width: 100%;
  padding-top: 170px;
  background-color: #fff;
}
.recipe_detail {
  width: 100%;
}
.recipe_detail_content {
  margin: 0 auto;
}
.recipe_detail_image {
  flex-basis: 320px;
  box-sizing: border-box;
  float: left;
  margin-left: 100px;
}
.recipe_image {
  margin: 0 auto;
  width: 540px;
  height: 320px;
}
.user_information {
  height: 220px;
}
.user_dog__image {
  padding: 10px;
}
.user_information__image {
  border-radius: 47px;
  margin-bottom: 10px;
}
.recipe_detail_user {
  font-size: 25px;
  p {
    font-size: 18px;
  }
}
.user_pet_information_list {
  font-size: 25px;
  p {
    font-size: 18px;
  }
}
.pet_information__image {
  border-radius: 47px;
  margin-bottom: 10px;
}
.recipe_detail_main_info {
  margin-left: 100px;
  margin-top: 60px;
  width: 600px;
  box-sizing: border-box;
  float: left;
}
.title {
  padding-bottom: 2px;
  border-bottom: 1px solid #C7C7CC;
}
.title span {
  font-size: 24px;
  font-weight: bold;
}
.description {
  margin-top: 10px;
  font-size: 20px;
}
.text-h2 {
  font-size: 20px;
  font-weight: bold;
}
.ingredient {
  border-bottom: 1px solid #C7C7CC;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.ingredient_serving {
  margin-left: auto;
}
.recipe_detail_right {
  float: left;
  width: 400px;
  margin: 0 0 0 240px;
  // border: 1px solid #008000;
  padding: 15px;
  border-radius: 10px;
  background-color: #fafad2;
  box-shadow: 1px 1px 0 #b8a58a;
}
.recipe_steps {
  display: block;
  margin-top: 15px;
  margin: 60px;
}
.recipe_step-text {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
 border-bottom: 1px solid gray;
}

.step-text {
  font-size: 25px;
  font-weight: bold;
  color: gray;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.step {
  width: 360px;
  margin: 20px;
  border-bottom: 1px solid gray;
}
.step-num {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
.step-image-wrap {
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 250px;
  // border: 1px solid gray;
  margin: 0 auto;
}
.img-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.step-desc {
  margin-top: 5px;
}
.text-p {
  font-size: 16px;
}