#content {
  width: 100%;
  background: #FFF;
  .content-inner {
    padding-top: 40px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
    clear: both;
    height: 100%;
  }
}
.profile_header {
  margin:0 30px;
  padding: 16px;
}
.profile_image {
  border-radius: 40px;
}
.profile_name {
  display: inline-block;
  margin-left: 10px;
  span{
  font-size: 25px;
}
}
.profile_edit_button {
  // display: inline-block;
  float: right;
  margin-left: 40px;
  a{
    font-size: 20px;
    font-style: bold;
    vertical-align: middle;
    border-radius: 4px;
    color: #65ab31;
    text-align: center;
    display: block;
    width: 100%;
    background: #f0f6da;
    border: 2px solid #65ab31;
    height: 36px;
    line-height: 36px;
    width: 190px;
    padding-bottom: 1px;
  }
  a:hover {
    text-decoration: none;
    color: #65ab31;
  }
}
.profile_list {
  padding: 30px;
  background-color: #fff;
  tr {
    border-bottom: 1px solid #eae9e7;
    width: 100px;
  }
  .item_name {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #725947;
    background: #f5f4f3;
    padding: 20px 16px;
    margin: 0 16px 0 0;
  }
  .user_status {
    padding: 18px 0 18px 16px;
    width: 800px;
    font-size: 18px;
  }
}

.pet_information_header {
  width: 100%;
  padding-left: 30px;
  h2 {
    font-size: 25px;
    // float:left;
  }
}
.user_pet_information {
  h2 {
    width: 400px;
    display: inline-block;
  }
  p {
    display: inline-block;
    font-size: 20px;
    font-style: bold;
    vertical-align: middle;
    border-radius: 4px;
    color: #65ab31;
    text-align: center;
    width: 100%;
    background: #f0f6da;
    border: 2px solid #65ab31;
    height: 36px;
    line-height: 36px;
    width: 190px;
    padding-bottom: 1px;
    margin-left: 0;
    margin-top: 5px;
  }
}
.add_pet_button {
  margin-top: 15px;
  margin-left: 60px;
  span {
    color: #65ab31;
  }
}
.plus_pet {
  display: inline-block;
  background: #f9e6b8 none repeat scroll 0 0;
  border-radius: 30px;
  color: #715847;
  font-size: 13px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #b8a58a;
  box-shadow: 1px 1px 0 #b8a58a;
  span:hover {
    text-decoration: none;
  }
}
.pet_information_alert {
  text-align: center;
  background: #fdfbf9;
  padding: 16px;
  position: relative;
}
.pet_information_detail {
  background: #fdfbf9;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  margin-left: 30px;
}
.pet_image {
  display: inline-block;
  img {
    border-radius: 40px;
  }
}
.pet_information_detail {
  display: inline-block;
}

.pet_item_information{
  dd{
    display: inline-block;
  }
}
.pet_profile_list {
  padding:0 30px;
  background-color: #fff;
  tr {
    border-bottom: 1px solid #eae9e7;
    width: 100px;
  }
  .item_name {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #725947;
    background: #f5f4f3;
    padding: 20px 16px;
    margin: 0 16px 0 0;
  }
  .user_status {
    padding: 18px 0 18px 16px;
    width: 800px;
    font-size: 18px;
  }
}