%header.header
  .header-inner
    %h1.header-logo
      %a{:href => "https://www.wango.com/"}
        %img{src: "https://scontent-nrt1-1.xx.fbcdn.net/v/t34.0-12/20068314_1382189165190892_826014115_n.png?oh=068b494d10318ce406e2d6b6f8ed42a5&oe=59896FC4"}
    .header-description
      / ワンご
    #user_sign_in
      %li.link
        -if user_signed_in?
          %a
            =link_to destroy_user_session_path, method: :delete do
              ログアウト
        -else
          =link_to new_user_session_path, method: :get do
            ログイン
    #new_recipes
      %li.link
        =link_to new_recipe_path, method: :get do
          レシピ投稿
