%header.navbar.navbar-fixed-top
  .loginbar
    .user_sign_in
      %li.link
        -if user_signed_in?
          %a
            =link_to destroy_user_session_path, method: :delete do
              ログアウト
        -else
          =link_to new_user_session_path, method: :get do
            ユーザー登録（無料）/ログイン
  .container
    .navbar-header
      =link_to root_path method: :get do
        %img{src: "https://s3-ap-northeast-1.amazonaws.com/image-upload-wango/uploads/wango_logo/image/wango_logo.png", width: "80px", height: "80px"}
    %span.wango_title
      ワンご
    %span.wango_statement
      みんなでシェアしよう。手づくり”ワンちゃんごはん”レシピ
    #search_box{"data-device" => "pc"}
      %form{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input#query{:autocomplete => "off", :name => "query", :placeholder => "レシピ・キーワード検索", :type => "text"}/
    #new_recipes
      %li.link
        =link_to new_recipe_path, method: :get do
          レシピ投稿
